@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Changed!</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <img src="/Images/officer-barbrady-move-along-people.jpeg"/>
    </div>
</div>