@model JeroenPot.Website.Models.TwitterModel


<div class="row">
    <div class="col-md-12">
        <p>Last checked: @Model.LastChecked</p>
        <p>Last tweetId: @Model.LastTweetId</p>
    </div>
</div>